* {
  margin: 0;
  padding: 0;
 box-sizing: border-box;
  font-family: sans-serif;
  list-style: none;
}
.all{
  max-width: 1300px;
}
.ch{
  accent-color: green;
}


$primaryColor: (
    first: rgba(180, 180, 180, 0.154),
    second:rgba(153, 182, 197, 1),
    third:rgba(0, 72, 109, 1),
    fourth:rgba(228, 236, 240, 1),
    fifth:rgba(30, 30, 30, 0.767),
sixth:rgba(116, 116, 116, 0.784),
seventh:rgba(94, 69, 32, 1),
eight:rgba(255, 240, 217, 0.34)
);

$colors: red, green, blue, yellow, brown, gray, black, white, pink, purple,
  orange, lightblue, lightgray, aqua;
$fonts: 100, 200, 300, 400, 500, 600, 700, 800, 900;
$displays: flex, grid, inline, block, none;
$positions: fixed, relative, absolute, sticky;
$justifies: center, space-between, start, space-around, space-evenly, end;
$items: start, center, end;
$content: start, center, end;
$directions: row, column, column-reverse, row-reverse;
$borders: none, solid, dotted, dashed, double;
$buttons: (
  primary: rgb(53, 175, 191),
  secondary: rgb(53, 191, 53),
  error: red,
  warning: orange,
  gradient: linear-gradient(100deg,rgba(68, 124, 42, 1),rgba(61, 184, 70, 1),rgba(68, 124, 42, 1))
);
@for $i from 1 through 100 {
  .gtr-#{$i}{
    grid-template-rows: repeat(#{$i},#{$i}px);
   
  }
   .gtc-#{$i}{
    grid-template-columns: repeat(#{$i},1fr);
   
  }
  .gr-#{$i}{
    grid-row: $i/$i;
  }
   .gc-#{$i}{
    grid-column: $i/$i;
  }
}
 

@each $c, $v in $primaryColor{
   .bg-#{$c}{
    background-color: $v;
   }
   .text-#{$c}{
    color: $v;
   }
}


@each $key, $value in $buttons {
  .btn-#{$key} {
   
    background: $value;
    color: white;
    border: none;
   padding: 15px 30px;
    border-radius: 40px;
    font-size: 20px;
  }
}
@for $i from 0 through 100 {
 
    .textw-#{$i}{
width:#{$i*10}px ;
    }
      .textwi-#{$i}{
width:$i*1% ;
    }
  .w-#{$i} {
    width: #{$i * 10}px;
  }
  .width-#{$i} {
    width: $i * 1%;
  }
  .h-#{$i} {
    height: #{$i * 10}px;
  }
  .m-#{$i} {
    margin: #{$i}px;
  }
  .my-#{$i} {
    margin-top: #{$i}px;
    margin-bottom: #{$i}px;
  }
  .mx-#{$i} {
    margin-left: #{$i}px;
    margin-right: #{$i}px;
  }
  .mt-#{$i} {
    margin-top: #{$i}px;
  }
  .mb-#{$i} {
    margin-bottom: #{$i}px;
  }
  .ml-#{$i} {
    margin-left: #{$i}px;
  }
  .mr-#{$i} {
    margin-right: #{$i}px;
  }

  .p-#{$i} {
    padding: #{$i}px;
  }
  .py-#{$i} {
    padding-top: #{$i}px;
    padding-bottom: #{$i}px;
  }
  .px-#{$i} {
    padding-left: #{$i}px;
    padding-right: #{$i}px;
  }
  .pt-#{$i} {
    padding-top: #{$i}px;
  }
  .pb-#{$i} {
    padding-bottom: #{$i}px;
  }
  .pl-#{$i} {
    padding-left: #{$i}px;
  }
  .pr-#{$i} {
    padding-right: #{$i}px;
  }

  .text-#{$i} {
    font-size: #{$i}px;
  }

  .gap-#{$i} {
    gap: #{$i * 5}px;
  }
  .borderw-#{$i} {
    border-width: #{$i}px;
  }
  .rounded-#{$i} {
    border-radius: #{$i}px;
  }

  .t-#{$i} {
    top: #{$i * 10}px;
  }
  .b-#{$i} {
    bottom: #{$i * 10}px;
  }
  .l-#{$i} {
    left: #{$i * 10}px;
  }
  .r-#{$i} {
    right: #{$i * 10}px;
  }
  .z-#{$i}{
    z-index: $i;
  }
  .-z-#{$i}{
    z-index: $i * -1;
  }
}
@each $color in $colors {
  .text-#{$color} {
    color: $color;
  }
  .bg-#{$color} {
    background-color: $color;
  }
  .borderc-#{$color} {
    border-color: $color;
  }
}
@each $font in $fonts {
  .font-#{$font} {
    font-weight: #{$font};
  }
}
@each   $display in $displays {
  .#{$display} {
    display: $display;
  }
}
@each $position in $positions {
  .#{$position} {
    position: $position;
  }
}
@each $justiy in $justifies {
  .justify-#{$justiy} {
    justify-content: $justiy;
  }
}
@each $item in $items {
  .items-#{$item} {
    align-items: $item;
  }
  .text-#{$item} {
    text-align: $item;
  }
}
@each $content in $content {
  .content-#{$content} {
    align-content: $content;
  }
  
}
@each $direction in $directions {
  .flex-#{$direction} {
    flex-direction: $direction;
  }
}
@each $border in $borders {
  .border-#{$border} {
    border-style: $border;
  }
}
.text-primary {
  color: #35afbf;
}
.max-w-1200 {
  max-width: 1200px;
}
.m-auto {
  margin-left: auto;
  margin-right: auto;
}


@media (max-width: 500px) {
  @for $i from 1 through 100 {
    .m-w-#{$i} {
      width: #{$i * 10}px;
    }
    .m-width-#{$i} {
      width: $i * 1%;
    }
    .m-h-#{$i} {
      height: #{$i * 10}px;
    }
    .m-m-#{$i} {
      margin: #{$i}px;
    }
    .m-my-#{$i} {
      margin-top: #{$i}px;
      margin-bottom: #{$i}px;
    }
    .m-mx-#{$i} {
      margin-left: #{$i}px;
      margin-right: #{$i}px;
    }
    .m-mt-#{$i} {
      margin-top: #{$i}px;
    }
    .m-mb-#{$i} {
      margin-bottom: #{$i}px;
    }
    .m-ml-#{$i} {
      margin-left: #{$i}px;
    }
    .m-mr-#{$i} {
      margin-right: #{$i}px;
    } 


    .m-p-#{$i} {
      padding: #{$i}px;
    }
    .m-py-#{$i} {
      padding-top: #{$i}px;
      padding-bottom: #{$i}px;
    }
    .m-px-#{$i} {
      padding-left: #{$i}px;
      padding-right: #{$i}px;
    }
    .m-pt-#{$i} {
      padding-top: #{$i}px;
    }
    .m-pb-#{$i} {
      padding-bottom: #{$i}px;
    }
    .m-pl-#{$i} {
      padding-left: #{$i}px;
    }
    .m-pr-#{$i} {
      padding-right: #{$i}px;
    }

    .m-text-#{$i} {
      font-size: #{$i}px;
    }

    .m-gap-#{$i} {
      gap: #{$i * 5}px;
    }
    .m-border-#{$i} {
      border-width: #{$i}px;
    }
    .m-rounded-#{$i} {
      border-radius: #{$i}px;
    }

    .m-t-#{$i} {
      top: #{$i * 10}px;
    }
    .m-b-#{$i} {
      bottom: #{$i * 10}px;
    }
    .m-l-#{$i} {
      left: #{$i * 10}px;
    }
    .m-r-#{$i} {
      right: #{$i * 10}px;
    }
  }
  @each $color in $colors {
    .m-text-#{$color} {
      color: $color;
    }
    .m-bg-#{$color} {
      background-color: $color;
    }
    .m-border-#{$color} {
      border-color: $color;
    }
  }
  @each $font in $fonts {
    .m-font-#{$font} {
      font-weight: #{$font};
    }
  }
  @each $display in $displays {
    .m-#{$display} {
      display: $display;
    }
  }
  @each $position in $positions {
    .m-#{$position} {
      position: $position;
    }
  }
  @each $justiy in $justifies {
    .m-justify-#{$justiy} {
      justify-content: $justiy;
    }
  }
  @each $item in $items {
    .m-items-#{$item} {
      align-items: $item;
    }
    .m-text-#{$item} {
      text-align: $item;
    }
  }
  @each $direction in $directions {
    .m-flex-#{$direction} {
      flex-direction: $direction;
    }
  }
}